$primary: #fe6502;
$primaryVariant: #bc7852;
$black: #333;
$grey: #828282;
$blue: #28689b;

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

.header {
    background: $primary;
    color: white;
    h1 {
        font-weight: bold;
        font-size: 1.5em;
        padding: 10px;
    }
    .row {
        display: none;
    }
}

.row {
    padding: 10px;
    &:nth-child(even) {
        background-color: #ddd;
    }
    .comments {
        margin-left: 55px;
        color: $grey;
        font-size: 0.8em;
        padding: 0 5px 5px;
    }
    .row-data {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .points {
        width: 50px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $grey;
        margin-top: -30px;
        color: $grey;
        font-size: 0.9em;
        button {
            color: $grey;
            padding: 5px;
        }
    }

    .actions {
        font-size: 0.9em;
        a {
            color: #828282;
            margin-right: 10px;
        }
    }

    .title {
        font-size: 16px;
        color: black;
    }
}

@media screen and (min-width: 720px) {
    .header .row {
        display: flex;
        background-color: $primary;
        word-break: break-all;
        font-size: 0.9em;

        & > * {
            margin-right: 10px;
        }
        :nth-child(1) {
            width: 80px;
        }
        :nth-child(2) {
            width: 80px;
        }
        :nth-child(3) {
            width: 80px;
        }
    }
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 5px;

        .comments {
            width: 80px;
            padding: 0;
            margin: 0 10px 0 0;
            .label {
                display: none;
            }
        }

        .points {
            flex-direction: row-reverse;
            display: flex;
            margin-top: 0;
            width: auto;
            .points-count {
                width: 80px;
            }
            .label {
                display: none;
            }
            button {
                width: 80px;
                margin-left: 10px;
            }
        }

        .row-details {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        .actions {
            margin-left: 20px;
        }
    }
}

.pagination {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
        color: $primary;
        font-weight: bold;
    }
}

.chart {
    border: 4px solid $primary;
    border-right: 0;
    border-left: 0;
    padding: 20px 0;
    margin-bottom: 40px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 350px;
}
.chart-tooltip {
    font-size: 0.9em;
    color: $primary;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}
